@CHARSET "UTF-8";
/*
 *
 *      This software is a result of Quaero project and its use must respect the rules of the Quaero Project Consortium Agreement.
 *
 *      Copyright Institut National de la Recherche Agronomique, 2010.
 *
*/

.DefaultCursor {
    cursor:default;
}

.WaitCursor {
    cursor:wait;
}

.DetailGrid td {
    outline: silver solid 1px ;
    font-size: smaller;
    border-collapse: collapse;
}

.DetailGridHeader {
    background-color: gainsboro;
    font-size: smaller;
}

table.DetailGridFirstRow >tbody>tr:first-child {
    background-color: lightgray;
    font-size: smaller;
}

.ToolBar {
    background-color:  #D0E4F6;
}

.SmallButton {
    height: 16px;
    width: 16px;
}

.SmallerButton {
    height: 10px;
    width: 12px;
}

.MiniPopButton {
    width: 16px; 
    padding:3px; 
    border: solid #e0e0e0 1px;
}

.MiniPopButton:hover {
    border-top-color:silver;
    border-top-style:solid;
    border-top-width:1px;
    border-left-color:silver;
    border-left-style:solid;
    border-left-width:1px;
    border-bottom-color:grey;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-right-color:grey;
    border-right-style:solid;
    border-right-width:1px;
}
